dn: dc={{ DC1 }},dc={{ DC2 }}
dc: {{ DC1 }}
objectClass: top
objectClass: domain

dn: ou=People,dc={{ DC1 }},dc={{ DC2 }}
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,dc={{ DC1 }},dc={{ DC2 }}
ou: Group
objectClass: top
objectClass: organizationalUnit